#filters {
    margin-top: 10px;
  }
  
table, .table {
    font-size: 13px;
} 

.thead-long {
    width: 120px;
}

#result {
  font-size: 0.9375rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.search {
  color: #43ac6a;
  font-size: 14px;
  font-weight: 500;
}

.filter {
  background-color: #eee;
}

.navbar-brand {
  margin-left: 0.725rem;
}

#ptext {
  margin-bottom: 0.275rem;
}

.update {
  font-size: 12px;
  text-align: right;
}